<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <connectionStrings>
    <add connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=d:\dl_cbao.mdb" name="CBAOConnectionString"  />
  </connectionStrings>
  <appSettings>
    <add key="MailServer" value="smtp.gmail.com"/>
    <add key="Port" value="587"/>
    <add key="User" value="KV5.thongbao@gmail.com"/>
    <add key="Password" value="KV5112019"/>
    <add key="IsTest" value="1"/>
  </appSettings>
</configuration>
